* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;
        background-color: rgb(53, 49, 49);
    }

    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        /* border: 1px solid white; */
    }

    img {
        width: 200px;
        margin-top: 150px;
    }

    #caixa {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        
        /* border: 1px solid white; */
    }

    #b1 {
        font-family: Arial, Helvetica, sans-serif;
        color: brown;
        border: none;
        background-color: rgb(236, 243, 243);
    }

    #b2 {
        margin-left: 20px;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
        color: brown;
        border: none;
        background-color: rgb(236, 243, 243);

    }

    #l1 {
        font-size: 40px;
        color: yellow;
    }

    #l2 {
        font-size: 40px;
        color: white;  
    }

    

  

 

    

  